.background{
background-image: url('../Fond/fond-planche-blanc.avif');
min-height: 200px; 
max-height:300px;
}
a:hover{
    text-decoration: none;
}
.card{
    transition: transform .5s;   
   }
   .card:hover{
   
    background-color: lightpink !important;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
   }

   .parallax{
    background-attachment: fixed;
    background-size:cover;
    background-image: url(../Fond/image-fond.jpg);
}
.commande{

    bottom:0px;
    right:0px;
}